<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">

<head th:replace="partials/head :: head_section(${pageTitle})"></head>
	
<body>
	
	<!--  NAVBAR -->
		<div th:replace="partials/_navbar :: mynavbar"></div>
	<!-- / NAVBAR -->


	<!--  CONTAINER  -->
			    <div class="container-fluid mb-4">			
					<div class="my-4 createForm col-md-8 p-4">
						<h1 class="text-center mb-4">[[${pageTitle}]]</h1>
						
						
					<!--  FORM  -->	
						<form th:action="@{/users/save}" method="POST" style="max-width:750px; margin:0 auto;"
							  enctype="multipart/form-data"
							  th:object="${user}"  onsubmit="return checkEmailUnique(this);">
							  
							  <input type="hidden" th:field="*{id}"/>
						
							  <div class="form-group row">
							    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
							    <div class="col-sm-10">
							      <input type="email" class="form-control"  th:field="*{email}"  required minlength="8" maxlength="100">
							    </div>
							  </div>
							  
							   <div class="form-group row">
							    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
							    <div class="col-sm-10">
							    
							      <input type="text" class="form-control"  th:field="*{firstName}" required minlength="3" maxlength="70">
							      
							    </div>
							  </div>
							  
							    <div class="form-group row">
								    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
								    <div class="col-sm-10">
								    
								      <input type="text" class="form-control"  th:field="*{lastName}" required minlength="2" maxlength="100">
								    </div>
							  </div>
							  
							  
							  
							  <div class="form-group row">
							    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
							    <div class="col-sm-10">
							    
							      <input th:if="${user.id == null}" type="password" class="form-control"  th:field="*{password}" 
							      required  minlength="8"  maxlength="100">
							      
							       <input th:if="${user.id != null}" type="password" class="form-control"  th:field="*{password}" 
							      		minlength="8"   maxlength="100">
							      
							    </div>
							  </div>
							  
							  
							  <fieldset class="form-group row">
							    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Roles</legend>
							    <div class="col-sm-10">
							    
							      <div class="form-check">
							      <th:block th:each="role : ${roles}">
							      
								        <input class="form-check-input" type="checkbox" th:field="*{roles}"  
								        		 
								        		th:value="${role.id}" 
								        		th:text="${role.name}"
								        		checked>
								       
								        	 - <small>
								        	 	[[${role.description}]]
								        	 </small>
								    		
								        		
								       		<br/>  <br/>
						         	</th:block>
							      </div>
							      
							    </div>
							  </fieldset>
							  
							  <fieldset class="form-group row">
								    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Enabled</legend>
								    <div class="col-sm-10 ">
								      <div class="form-check">
								        <input class="form-check-input" 
								        type="checkbox" th:field="*{enabled}"  value="option1">
								      
								      </div>
								      </div>
							  </fieldset>
							  
							   <fieldset class="form-group row">
								    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Photos</legend>
								    
								   <div class="form-group col-md-8">
								   <input type="hidden" th:field="*{photos}"/>
								   
								    <input type="file"  accept="image/png, image/jpeg" name="imageInput" class="form-control-file w-50" id="fileImage" />
  									
  									<img id="thumbnail"   alt="Default Photo" class="img-fluid mt-4 myPhoto"
  										 th:src="@{${user.photosImagePath}}"
  									/>
  								 </div>
							  </fieldset>
							   
							  
							  
							  <div class="form-group row text-center">
							  
							  	<!-- btn save -->
							    <div class="offset-5">
							      <input type="submit" class="btn btn-success" value="Save"/>
							    </div>
							    
							    <!--  btn cancel -->
							    <div class="ml-3">
							      <input type="button" class="btn btn-dark" id="cancelBtn" value="Cancel"/>
							    </div>							  
							  </div>
							  
					</form>
				<!--/FORM  -->			
						
				
				<!-- Modal -->
					<div th:replace="partials/modals :: modal_dialog"></div>
				<!-- /Modal -->	
					
					</div>

				</div>
	<!--  CONTAINER  -->
	
	
	
	
	<!-- FOOTER -->
	 	<div th:replace="partials/_footer :: myfooter"></div>
	<!-- /FOOTER -->
	
	
	

	<script type="text/javascript">
	
	moduleURL = "[[@{/}]]";
		
	// AJAX isEmailUnique
	function checkEmailUnique(form) {
		url = "[[@{/users/check-email-user}]]"; // RestController'de @PostMapping'teki url'yi al.
		userEmail = $("#email").val();
		userId = $("#id").val();
		csrfValue = $("input[name='_csrf']").val();
		params = {
				id : userId,
				email : userEmail,
				_csrf : csrfValue
		};
		
		$.post(url, params, function (response) {
			
			if( response == "User successfully added."){
				form.submit();
				
			} else if( response == "This email is already USE !!"){
				showModalMessage("Warning",userEmail+" is already USE !!")
				
			} else {
				showModalMessage("Error","Unknown response from server");
			}
			
		}).fail( function () {
			showModalMessage("Error","Could not connect to the server");
		});
		
		return false;
	}
	
		
	
	
	
		
		
	</script>


	<!--  COMMON js  -->
	<script th:src="@{/js/common_form.js}"></script>
	
	
	

</body>
</html>