<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">


<head th:replace="partials/head :: head_section('Users - Admin Panel')"></head>


<body>

	<!--  NAVBAR -->
		<div th:replace="partials/_navbar :: mynavbar"></div>
	<!-- / NAVBAR -->



	<!--  CONTAINER -->
	<div class="container-fluid" style="margin-bottom:5rem;">
	
		<div class="my-1">
			<h1 class="text-center" > <a class="text-dark text-decoration-none" th:href="@{/users}">User Manage System</a></h1>
			
			<a th:href="@{/users/new}" class="text-success fas fa-user-plus fa-2x">
				
			</a>
			&nbsp; &nbsp;
			<a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x text-dark"> 
				
			</a>
			
			
			<!-- SEARCH INPUT -->
				<div style="float:right;" class="mb-2">
					<form th:action="@{'/users/page/1'}" class="form-inline  my-2 my-lg-0">
					
						<input 	type="hidden"  name="sortField" th:value="${sortField}" />
						<input  type="hidden" name="sortDir" th:value="${sortDir}" />
						
						<input 	class="form-control mr-sm-2" type="search" name="keyword" 
								th:value="${keyword}" required placeholder="Search" aria-label="Search" />
						
						<button class="btn btn-outline-primary my-2 my-sm-0 fas fa-search" style="height:40px;" type="submit">
							
						</button>
						
						<button class="btn btn-outline-dark ml-1" type="button" onClick="clearFilter()">
							Clear						
						</button>
						
						
					</form>
				</div>
			
			
			<!--/SEARCH INPUT -->
				
		</div>
		
		<div th:if="${message != null}">
				
					<div class="alert text-center alert-success alert-dismissible fade show" role="alert">
					  <strong>[[${message}]] </strong>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				
		</div>
		
		
		<!--  TABLE -->
		<div class="mt-2 full-details">
			<table class="table table-bordered table-striped table-hover text-center">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
							<th th:replace="partials/fragments :: column_link('id', 'USER ID','tag')"/>
						</th>
						
						<th scope="col">
							PHOTOS
						</th>
					
						<th class="hideable-column">
							<th th:replace="partials/fragments :: column_link('email','E-mail','tag')" />
							
						</th>
						<!--  before fragments 
						<th scope="col">
						
							<a 	th:if="${ sortField != 'firstName' }"
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${sortDir}}" class="text-white">
								First Name
							</a>
							
							<a 	th:if="${ sortField == 'firstName' }"
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}" class="text-white">
								First Name
							</a>
							
							<span 	th:if="${sortField == 'firstName'}"
									th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"	>
							      			
							</span>	
						</th>
						
						-->
						<th th:replace="partials/fragments :: column_link('firstName','First Name','none')"></th>
						
						<th th:replace="partials/fragments :: column_link('lastName','Last Name','none')"></th>
						<th scope="col">
							ROLES 
						</th>
						<th th:replace="partials/fragments :: column_link('enabled','Enabled','none')">
						
						
						<th scope="col">
							OPERATIONS 
						</th>
						
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="user : ${allUsers}">
					
					
				
						<th class="hideable-column">[[${user.id}]]</th>
						  <td>
					      	<span th:if="${user.photos == null}"><i class="fas fa-portrait fa-3x icon-gray"></i></span>
					      	<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width:100px;height:110px;" />
						</td>
						
						
						
						<td class="hideable-column" >[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						
						
						<td style="font-size:1.4rem;">
							<a  th:if="${user.enabled == true}" class="fas fa-check-circle icon-green "
								th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable This User">
							</a>
							
							<a  th:if="${user.enabled == false}" class="fas fa-circle icon-silver"
								th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this User">
							
							
							</a>
							
						</td>
						
						<td class="col-md-2">
						
							<!-- delete btn -->
								<a 	class="btn btn-outline-danger fas fa-trash-alt linkDelete"
									th:href="@{'/users/delete/' + ${user.id}}"
									title="Delete This User"
									th:userId="${user.id}"
									th:userEmail="${user.email}">
									
								</a>
							<!-- /delete btn -->
							
							
							<!--  update btn -->
								<a 	class="btn btn-outline-warning fas fa-edit ml-1 "
									th:href="@{'/users/edit/' + ${user.id}}"
									title="Edit This User"
								>
								
								</a>
							<!--  /update btn -->
							
							
							
						</td>
					</tr>
					
				</tbody>
				
				
			</table>
		</div>
		
		
		
		
		<!--  FOR SMALL SCREEN -->
		 <div class="less-details">
		 	<div th:each="user : ${allUsers}" class="row my-2  myborder">
		 		<div class="col">
		 			<span th:if="${user.photos == null}"><i class="fas fa-portrait fa-3x icon-gray"></i></span>
			      	<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width:100px;height:110px;" />
						
		 		</div>
		 		
		 		<div class="col ">
		 			<div>[[${user.fullName}]]</div>
		 			<div>[[${user.roles}]]</div>
		 			
		 			<div class="mt-3">
		 				<a  th:if="${user.enabled == true}" class="fas fa-check-circle icon-green"
								th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable This User">
						</a>
								
						<a  th:if="${user.enabled == false}" class="fas fa-circle icon-silver"
									th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this User">
							
							
						</a>
			 			&nbsp;&nbsp;
			 			
		 				<!-- delete btn -->
							<a 	class="btn btn-outline-danger fas fa-trash-alt linkDelete"
								th:href="@{'/users/delete/' + ${user.id}}"
								title="Delete This User"
								th:userId="${user.id}"
								th:userEmail="${user.email}">
						
							</a>
						<!-- /delete btn -->
				
				
						<!--  update btn -->
								<a 	class="btn btn-outline-warning fas fa-edit ml-1"
								th:href="@{'/users/edit/' + ${user.id}}"
								title="Edit This User"
								>
					
								</a>
						<!--  /update btn -->
			 			
			 			
			 			</div>
		 			
		 		</div>
		 	</div>
		 </div>
		
		
		
		
		
		
	 <!--  PAGINATION -->
			<div th:if="${totalElements} > 0" class="text-center my-3" >
			
				<span>
			    Showing users #	[[${startCount}]] to [[${endCount}]]  of [[${totalElements}]]
		    	</span>
			</div> 
			
						
			<div  th:if = "${startCount > totalElements}" class="text-center m-2"  >
					<span>
				    	No users found!
			    	</span>
			</div> 
			
			<div th:if="${totalPages > 1}">
							<nav aria-label="mypagination" >
							  <ul class="pagination justify-content-center flex-wrap">
							 
							   <!-- first page -->
							  	<li th:class="${ currentPage > 1 ? 'page-item' : 'page-item  disabled' }">
							     	<!-- before fragments 
									      <a class="page-link bg-dark text-white" 
									     	 th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${ keyword != null ? '&keyword=' + keyword : '' }}" 
									      tabindex="-1" aria-disabled="true">
									      	First
									      </a>	
							      	-->
							      	<a class="bg-dark" th:replace="partials/fragments :: page_link(1, 'First')"></a>    			
							    </li>
							  
							  
							   <!-- previous -->
							    <li th:class="${ currentPage > 1 ? 'page-item' : 'page-item disabled' }">
							    
							    	<!-- before fragments 
								      <a class="page-link"
								      		 th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${ keyword != null ? '&keyword=' + keyword : '' }}" 
								      		tabindex="-1" aria-disabled="true"><span><i class="fas fa-angle-left"></i></span>
								      </a>
							      -->
							      <a th:replace="partials/fragments :: page_link( ${currentPage -1 }, 'Previous')"></a>    
							      
							    </li>
							    
							    
							    <!-- for each thymeleaf, pagination -->
							    <li th:class="${ currentPage != i ? 'page-item' : 'page-item active' }"
							    	th:each="i : ${#numbers.sequence(1, totalPages)}">
							    	<!-- before fragments 
										    <a class="page-link" th:href="@{'/users/page/' + ${i} +  '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${ keyword != null ? '&keyword=' + keyword : '' }}">
										    		[[${i}]]
										    </a>
									 -->
									 <a th:replace="partials/fragments :: page_link( ${i}, ${i})"></a> 
									 
							    </li>
							  
							    
							    <!-- next -->
							    <li th:class="${ currentPage < totalPages ? 'page-item' : 'page-item disabled' }">
							    
							    <!--  before fragments  
							      <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1 } + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${ keyword != null ? '&keyword=' + keyword : '' }}">
							      	<span>
							      		<i class="fas fa-angle-right"></i>
							      	</span>
							      </a>
							      -->
							      
							       <a th:replace="partials/fragments :: page_link( ${currentPage + 1 }, 'Next')"></a> 
							      
							    </li>
							    
							     <!-- last page -->
							     <li th:class="${ currentPage < totalPages ? 'page-item' : 'page-item disabled' }">
							      <!--  before fragments  
							     	 <a class="page-link bg-dark text-white" th:href="@{'/users/page/'+${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${ keyword != null ? '&keyword=' + keyword : '' }}">Last</a>
							     -->
							     <a th:replace="partials/fragments :: page_link( ${totalPages}, 'Last')"></a> 
							    
							    </li>
							    
							  </ul>
							</nav>
						</div>
		
	 <!-- /PAGINATION -->
		
		
		
	</div>

<!--  /CONTAINER -->
	
	<!-- Modal -->
		<!-- Modal -->
					<div class="modal fade text-center" id="confirmDeleteModal" tabindex="-1">
						  <div class="modal-dialog">
						    <div class="modal-content">
						    
						      <div class="modal-header">
						        <h5 class="modal-title">Delete Confirmation</h5>
						        
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						        
						      </div>
						      
						      <div class="modal-body">
						        <p id="modalBody"></p>
						      </div>
						      
						      <div class="modal-footer">
						        <a class="btn btn-danger" href="" id="yesDeleteBtn">Yes</a>
						        <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
						      </div> 
						      
						    </div>
						  </div>
					</div>
	<!-- /Modal -->	
	
		
	<!-- /Modal -->	
	
	
	
	
	
	
	<!-- FOOTER -->
	 	<div th:replace="partials/_footer :: myfooter"></div>
	<!-- /FOOTER -->
	
	
	<script type="text/javascript">
	
	// Delete Button CLICK and Are you sure want to Delete ? 
	$(document).ready(function () {
		$(".linkDelete").on("click", function (e) {
			e.preventDefault();
			//alert($(this).attr("href"));
			
			link = $(this);
			
			userId = link.attr("userId");
			userEmail = link.attr("userEmail");
				
			$("#yesDeleteBtn").attr("href", link.attr("href"));
			$("#modalBody").text("Are you sure want to delete this "+userEmail+" ID : "+ userId+" ?");
			$("#confirmDeleteModal").modal();
		});
	});
		
	
	// Clear Filter onClick
	function clearFilter(){
		
		//window.location="[[@{/users}]]";
		
		window.location.href='/ShopmeAdmin/users/page/1?sortField=id&sortDir=asc';
	}

	
	</script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</body>
</html>