<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">

	<head th:replace="partials/head :: head_section('Login Page')"></head>

<style>
	.loginForm {
			border-radius: 50px !important;
			font-weight:bolder;
			background: white;
			box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
		-webkit-box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
		margin-bottom:12.25rem;
	}

</style>

<body >

	
	<div class="container-fluid text-center">
			<div>
				<img th:src="@{/images/ShopmeAdminBig.png}" />
			</div>
			
			
			<form th:action="@{/login}" method="POST"  style="max-width:350px; margin:0 auto;">
			
			
				<!--  login err message -->
					<div th:if="${param.error}">
						<p class="text-danger ">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
					</div>
			
				<!--  logout err message -->
					<div th:if="${param.logout}">
						<p class="text-warning bg-dark">You have been logged out.</p>
					</div>
			
			
			
				<div class="p-4 mt-4 loginForm" style="" >
					<p>Admin Control Panel <i class="fas fa-forward fa-2x offset-1"></i></p>
					
					<p>
						<input type="text" name="email" required class="form-control" placeholder="E-mail" />
					</p>
					
					 <p>
					 	<input type="password" name="password" required class="form-control" placeholder="Password" />
					 </p>
					 
					 <p>
					 	<input type="checkbox" name="remember-me" id="myCheck"/>
					 		<label  for="myCheck"> &nbsp;Remember Me</label>
					
					 </p>
					 
					 
					 <p>
					 	<input type="submit" value="Login" class="btn btn-primary" />
					 </p>
					
				</div>
				
				
			</form>
		
	</div>
	
	 <div th:replace="partials/_footer :: myfooter">
	 
	 </div>

</body>
</html>