<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">
	
	<title>[[${pageTitle}]]</title>
	
	<link rel="stylesheet"  type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<style>
	
		.navbar-dark .navbar-nav .nav-link {
		
			color:#FFD43B;
			font-size:17px;
		}
		
		.navbar-dark .navbar-nav .nav-link:hover {
			color:#FAB005;
			font-size:17px;
		}
		
		
		footer {
			position: relative;
		    bottom: 0;
		    top: 120px;
		    padding: 30px 20px;
		    background-color: black;
			color:white;
		}
		
		
		#thumbnail {
		
		float: right;
	    position: relative;
	    top: -45px;
	    left: -80px;
    }
    
    .createForm {
    	
	    border: 2px solid black;
	    border-radius:15px;
	    margin: 0 auto;
	    padding: 30px 0;
    }
    
    
    
		
	</style>
	
</head>
<body>
	
	<!-- NAVBAR -->
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShopmeAdminSmall.png}" />
			</a>
			
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
						
					
		 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav">
			    
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/users}">Users</a>
			      </li>
			      
		      	 <li class="nav-item">
			        <a class="nav-link" th:href="@{/categories}">Categories</a>
	      		 </li>
			     
			     
			     <li class="nav-item">
			        <a class="nav-link" th:href="@{/brands}">Brands</a>
		      	 </li>
			     
			     
			     <li class="nav-item">
			        <a class="nav-link" th:href="@{/products}">Products</a>
   				 </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/customers}">Customers</a>
   				 </li>
   				 
   				 
   				  <li class="nav-item">
			        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
   				 </li>
   				 
   				  <li class="nav-item " >
			        <a class="nav-link" th:href="@{/orders}">Orders</a>
   				 </li>
   				 
   				  <li class="nav-item">
			        <a class="nav-link" th:href="@{/report}">Sales Report</a>
   				 </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/articles}">Articles</a>
   				 </li>
			     
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/menus}">Menus</a>
   				 </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/settings}">Settings</a>
   				 </li>
			     
			     
			      
			    </ul>
		  	</div>	
		</nav>
	<!-- /NAVBAR -->
	


	<!--  CONTAINER  -->
			    <div class="container-fluid mb-4">			
					<div class="my-4 createForm col-md-8">
						<h1 class="text-center mb-4">[[${pageTitle}]]</h1>
						
						
					<!--  FORM  -->	
						<form th:action="@{/users/save}" method="POST" style="max-width:750px; margin:0 auto;"
							  enctype="multipart/form-data"
							  th:object="${user}"  onsubmit="return checkEmailUnique(this);">
							  
							  <input type="hidden" th:field="*{id}"/>
						
							  <div class="form-group row">
							    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
							    <div class="col-sm-10">
							      <input type="email" class="form-control"  th:field="*{email}"  required minlength="8" maxlength="100">
							    </div>
							  </div>
							  
							   <div class="form-group row">
							    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
							    <div class="col-sm-10">
							    
							      <input type="text" class="form-control"  th:field="*{firstName}" required minlength="3" maxlength="70">
							      
							    </div>
							  </div>
							  
							    <div class="form-group row">
								    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
								    <div class="col-sm-10">
								    
								      <input type="text" class="form-control"  th:field="*{lastName}" required minlength="2" maxlength="100">
								    </div>
							  </div>
							  
							  
							  
							  <div class="form-group row">
							    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
							    <div class="col-sm-10">
							    
							      <input th:if="${user.id == null}" type="password" class="form-control"  th:field="*{password}" 
							      required  minlength="8"  maxlength="100">
							      
							       <input th:if="${user.id != null}" type="password" class="form-control"  th:field="*{password}" 
							      		minlength="8"   maxlength="100">
							      
							    </div>
							  </div>
							  
							  
							  <fieldset class="form-group row">
							    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Roles</legend>
							    <div class="col-sm-10">
							    
							      <div class="form-check">
							      <th:block th:each="role : ${roles}">
							      
								        <input class="form-check-input" type="checkbox" th:field="*{roles}"  
								        		 
								        		th:value="${role.id}" 
								        		th:text="${role.name}"
								        		checked>
								       
								        	 - <small>
								        	 	[[${role.description}]]
								        	 </small>
								    		
								        		
								       		<br/>  <br/>
						         	</th:block>
							      </div>
							      
							    </div>
							  </fieldset>
							  
							  <fieldset class="form-group row">
								    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Enabled</legend>
								    <div class="col-sm-10 ">
								      <div class="form-check">
								        <input class="form-check-input" 
								        type="checkbox" th:field="*{enabled}"  value="option1">
								      
								      </div>
								      </div>
							  </fieldset>
							  
							   <fieldset class="form-group row">
								    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Photos</legend>
								    
								   <div class="form-group col-md-8">
								   <input type="hidden" th:field="*{photos}"/>
								   
								    <input type="file"  accept="image/png, image/jpeg" name="imageInput" class="form-control-file w-50" id="fileImage" />
  									
  									<img id="thumbnail"  alt="Default Photo" class="img-fluid"
  										 th:src="@{${user.photosImagePath}}"
  									/>
  								 </div>
							  </fieldset>
							   
							  
							  
							  <div class="form-group row text-center">
							  
							  	<!-- btn save -->
							    <div class="offset-5">
							      <input type="submit" class="btn btn-success" value="Save"/>
							    </div>
							    
							    <!--  btn cancel -->
							    <div class="ml-3">
							      <input type="button" class="btn btn-dark" id="cancelBtn" value="Cancel"/>
							    </div>							  
							  </div>
							  
					</form>
				<!--/FORM  -->			
						
				
				<!-- Modal -->
					<div class="modal fade text-center" id="modalDialog" tabindex="-1">
						  <div class="modal-dialog">
						    <div class="modal-content">
						    
						      <div class="modal-header">
						        <h5 class="modal-title text-danger" id="modalTitle"></h5>
						        
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						        
						      </div>
						      
						      <div class="modal-body">
						        <p id="modalBody"></p>
						      </div>
						      
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						        
						      </div>
						      
						    </div>
						  </div>
					</div>
				<!-- /Modal -->	
					
					</div>

				</div>
	<!--  CONTAINER  -->
	
	
	
	
	<!-- FOOTER -->
		<footer class="text-center mt-2">
				<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</footer>
	<!-- /FOOTER -->
	
	
	
	

	<script type="text/javascript">
	
		$(document).ready(function () {
			
			// Cancel Button Click  -> Redirect in /users
			
			$("#cancelBtn").on("click", function () {
				window.location = "[[@{/users}]]";
				
			});
				
			
			
			// FILE UPLOAD
			$("#fileImage").change(function () {
				fileSize = this.files[0].size;
				
				if(fileSize > 1048576 ){	// 1024 x 1024 = 1048576
					this.setCustomValidity("Image must be less than 1 MB!!");
					this.reportValidity();
				} 
				else {
						this.setCustomValidity("");
						
							$('#thumbnail').width(150); // Units are assumed to be pixels
							$('#thumbnail').height(180);
							$('#thumbnail').css('object-fit','cover');
						
						
						showImageThumbnail(this);
				}
				
			});
		});
	
		// FILE UPLOAD
		function showImageThumbnail(fileInput) {
		var file = fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#thumbnail").attr("src",e.target.result);
		}
		
		reader.readAsDataURL(file);
	}
	
		
	// AJAX isEmailUnique
	function checkEmailUnique(form) {
		url = "[[@{/users/check-email-user}]]"; // RestController'de @PostMapping'teki url'yi al.
		userEmail = $("#email").val();
		userId = $("#id").val();
		csrfValue = $("input[name='_csrf']").val();
		params = {
				id : userId,
				email : userEmail,
				_csrf : csrfValue
		};
		
		$.post(url, params, function (response) {
			
			if( response == "User successfully added."){
				form.submit();
				
			} else if( response == "This email is already USE !!"){
				showModalMessage(userEmail+" is already USE !!")
				
			} else {
				
			}
			
		}).fail( function () {
			showModalMessage("Error","Could not connect to the server");
		});
		
		return false;
	}
	
		
		
		
		
	// SHOW MODAL MESSAGE FOR ->  EMAIL IS UNIQUE
	function showModalMessage(title,message){
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
		
		
		
		
		
	</script>

	
	
	

</body>
</html>