<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">
<title>Home - Admin Control Panel</title>
	
<link rel="stylesheet"  type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{/fontawesome/all.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />


<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<style>
	
	
		.navbar-dark .navbar-nav .nav-link {
		
			color:#FFD43B;
			font-size:17px;
		}
		
		.navbar-dark .navbar-nav .nav-link:hover {
			color:#FAB005;
			font-size:17px;
		}
		
	
	</style>


</head>
<body>

<!-- NAVBAR -->
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShopmeAdminSmall.png}" />
			</a>
			
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
						
					
		 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav">
			    
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/users}">Users</a>
			      </li>
			      
		      	 <li class="nav-item">
			        <a class="nav-link" th:href="@{/categories}">Categories</a>
	      		 </li>
			     
			     
			     <li class="nav-item">
			        <a class="nav-link" th:href="@{/brands}">Brands</a>
		      	 </li>
			     
			     
			     <li class="nav-item">
			        <a class="nav-link" th:href="@{/products}">Products</a>
   				 </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/customers}">Customers</a>
   				 </li>
   				 
   				 
   				  <li class="nav-item">
			        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
   				 </li>
   				 
   				  <li class="nav-item " >
			        <a class="nav-link" th:href="@{/orders}">Orders</a>
   				 </li>
   				 
   				  <li class="nav-item">
			        <a class="nav-link" th:href="@{/report}">Sales Report</a>
   				 </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/articles}">Articles</a>
   				 </li>
			     
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/menus}">Menus</a>
   				 </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/settings}">Settings</a>
   				 </li>
			     
			     
			      
			    </ul>
		  	</div>	
		</nav>
	<!-- /NAVBAR -->
	


	<!--  CONTAINER -->
	<div class="container-fluid">
	
		<div class="my-1">
			<h1 class="text-center">User Manage System</h1>
			
			<a th:href="@{/users/new}" class="text-success">
				Create New User <span><i class="fas fa-user-plus"></i></span>
			</a>
				
		</div>
		
		<div th:if="${message != null}">
				
					<div class="alert text-center alert-success alert-dismissible fade show" role="alert">
					  <strong>[[${message}]] </strong>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				
		</div>
		
		
		<!--  TABLE -->
		<div class="mt-2">
			<table class="table table-bordered table-striped table-hover text-center">
				<thead class="thead-dark">
					<tr>
						<th scope="col">
							USER ID 
						</th>
						
						<th scope="col">
							PHOTOS
						</th>
						
						<th scope="col">
							EMAIL
						</th>
						
						<th scope="col">
							FIRST NAME 
						</th>
						
						<th scope="col">
							LAST NAME 
						</th>
						
						<th scope="col">
							ROLES 
						</th>
						
						<th scope="col">
							ENABLE 
						</th>
						
						<th scope="col">
							OPERATIONS 
						</th>
						
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="user : ${allUsers}">
						<th>[[${user.id}]]</th>
						  <td>
					      	<span th:if="${user.photos == null}"><i class="fas fa-portrait fa-3x icon-gray"></i></span>
					      	<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width:100px;height:110px;" />
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						
						<td style="font-size:1.4rem;">
							<a  th:if="${user.enabled == true}" class="fas fa-check-circle icon-green "
								th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable This User">
							</a>
							
							<a  th:if="${user.enabled == false}" class="fas fa-circle icon-silver"
								th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this User">
							
							
							</a>
							
						</td>
						
						<td class="col-md-2">
						
							<!-- delete btn -->
								<a 	class="btn btn-outline-danger fas fa-trash-alt linkDelete"
									th:href="@{'/users/delete/' + ${user.id}}"
									title="Delete This User"
									th:userId="${user.id}"
									th:userEmail="${user.email}">
									
								</a>
							<!-- /delete btn -->
							
							
							<!--  update btn -->
								<a 	class="btn btn-outline-warning fas fa-edit ml-1 "
									th:href="@{'/users/edit/' + ${user.id}}"
									title="Edit This User"
								>
								
								</a>
							<!--  /update btn -->
							
							
							
						</td>
					</tr>
					
				</tbody>
				
				
			</table>
		</div>
		
	 <!--  PAGINATION -->
			<div class="text-center my-3" th:if="${totalElements} > 0">
					<span>
					Showing Users # [[${startCount}]] to [[${endCount}]]  of [[${totalElements}]]
					</span>
			</div>
			
			<div class="text-center my-3" th:unless="${totalElements} > 0">
				<span>
					No users found!
				</span>
			</div>
			
			
			<div th:if="${totalPages > 1}">
				<nav aria-label="mypagination">
					<ul class="pagination justify-content-center">
					
						 <!-- first page -->
						  	<li th:class="${ currentPage > 1 ? 'page-item' : 'page-item disabled' }">
						      <a class="page-link bg-dark text-white" th:href="@{/users/page/1}" tabindex="-1" aria-disabled="true">
						      	First
						      </a>				
						    </li>
						
						<!--  before page -->
						<li th:class="${ currentPage > 1 ? 'page-item' : 'page-item disabled'}">
							<a class="page-link" th:href="@{'/users/page/' + ${currentPage -1 }}" tabindex="-1" aria-disabled="true">
								<span>Before</span>
							</a>
						</li>
						
						<!--  pagination / All pages -->
					    <li th:class="${ currentPage != i ? 'page-item' : 'page-item active' }"
					    	th:each="i : ${#numbers.sequence(1, totalPages)}">
					    	
						    <a class="page-link" th:href="@{'/users/page/' + ${i}}">
						    		[[${i}]]
						    </a>
					    </li>
					    
					     <!-- next -->
					    <li th:class="${ currentPage < totalPages ? 'page-item' : 'page-item disabled' }">
					    
					      <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1 }}">
					      	<span>
					      		Next
					      	</span>
					      </a>
					    </li>
						    
					     <!-- last page -->
					     <li th:class="${ currentPage < totalPages ? 'page-item' : 'page-item disabled' }">
					      <a class="page-link bg-dark text-white" th:href="@{'/users/page/'+${totalPages}}">Last</a>
					    </li>
						    
						    
					</ul>
				</nav>
			</div>
		
	 <!-- /PAGINATION -->
		
		
		
	</div>

<!--  /CONTAINER -->
	
	<!-- Modal -->
					<div class="modal fade text-center" id="confirmDeleteModal" tabindex="-1">
						  <div class="modal-dialog">
						    <div class="modal-content">
						    
						      <div class="modal-header">
						        <h5 class="modal-title">Delete Confirmation</h5>
						        
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						        
						      </div>
						      
						      <div class="modal-body">
						        <p id="modalBody"></p>
						      </div>
						      
						      <div class="modal-footer">
						        <a class="btn btn-danger" href="" id="yesDeleteBtn">Yes</a>
						        <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
						      </div> 
						      
						    </div>
						  </div>
					</div>
	<!-- /Modal -->	
	
	
	
	
	
	
	<!-- FOOTER -->
		<footer>
				<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</footer>
	<!-- /FOOTER -->
	
	
	<script type="text/javascript">
	// Delete Button CLICK and Are you sure want to Delete ? 
	$(document).ready(function () {
		$(".linkDelete").on("click", function (e) {
			e.preventDefault();
			//alert($(this).attr("href"));
			
			link = $(this);
			
			userId = link.attr("userId");
			userEmail = link.attr("userEmail");
				
			$("#yesDeleteBtn").attr("href", link.attr("href"));
			$("#modalBody").text("Are you sure want to delete this "+userEmail+" ID : "+ userId+" ?");
			$("#confirmDeleteModal").modal();
		});
	});
		
	
	</script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</body>
</html>